<div class='single_message mine row'>

  <div class='msg_body small-6 column'><%= @direct_message.body %></div>

  <div class='msg_info small-4 column'>

    <strong><em>

      <div><%= @direct_message.created_at.strftime('%-m/%-d/%y') %></div>

      <div><%= @direct_message.created_at.strftime('%-I:%M:%S %P') %></div>

    </em></strong>
  
  </div>

  <div class='small-2 column img_cont'><%= image_tag @user.image %></div>

</div>