<% if @items.present? %>
  <% @items.each_with_index do |i, idx| %>
    <% if i[:event_venue].present? %>

      <div class="row">
        <div class="small-12 colummns button reverse2">  
          <% if i[:artist_names].length > 1 %>
            <h2><%= link_to("#{i[:artist_names].join(', ')} @ #{i[:event_venue]['Name']} on #{DateTime.parse(i[:event_date]).strftime('%-m/%-d/%y')}<br>(Group Chat)".html_safe, event_group_messages_path(@user_events[idx].event_id), method: :get) %></h2>
          <% else %>
            <%= link_to("#{i[:artist_names][0]} @ #{i[:event_venue]['Name']} on #{DateTime.parse(i[:event_date]).strftime('%-m/%-d/%y')}<br>(Group Chat)".html_safe,event_group_messages_path(@user_events[idx].event_id) , method: :get) %>
          <% end %>
         
         <br>

         (Group Chat)

        </div>
      </div>


      <% i[:chat_partners].each do |cp| %>
        <div class="row">
          <div class="small-12 columns">
            <!-- It would be nice to put the image tag in here -->
            <%= link_to("#{cp[:partner_name]}", event_dm_path(i[:event_id], current_user.id, cp[:partner_id]), method: :get, class: "large button expanded reverse") %>
          </div>
        </div>
      <% end %>


    <% end %>

  <% end %>


<% else %>
  <div class="row">
    <div class="small-12 colummns">  
      You have no chats!
    </div>
  </div>      
<% end %>
