<h2>My Chats</h2>

<ul>
  <% @items.each do |i| %>
    <% if i[:event_venue].present? && i[:chat_partners].length > 0 %>
      <li><%= i %></li>
    <% else %>
      <div>You have no chats!</div>
    <% end %>
  <% end %>
</ul>

NEED TO FORMAT THIS PAGE WITH LINKS TO THE CHATS