<div class='single_message mine row'>
  
  <div class='msg_body small-12 column'><%= @group_message.body %></div>

  <div class="single_message mine row">
    <div class="msg_info small-12 column">
      <strong><em>Yours Truly @ <%= @group_message.created_at.strftime("%-I:%M:%S %P") %> on <%= @group_message.created_at.strftime("%-m/%-d/%y") %></em></strong>
    </div>
  </div>

</div>