<h3>Upcoming Events:</h3>

<% @artist_events.each_with_index do |e, i| %>
  
  <div class="row">
    <div class="small-12 columns">
      <%= link_to("#{@artist_names.join(', ')} @ #{e[:event_venue]['Name']} on #{DateTime.parse(e[:event_date]).strftime('%-m/%-d/%y')}", event_path(e[:jb_event_id]), method: :get, class: "large button expanded custom2") %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">    
      <%= link_to("Buy Tickets", "#{e[:event_url]}", method: :get, class: "large button expanded custom") %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">  
      <%= link_to("See Upcoming Events from #{e[:event_venue]['Name']}", venue_events_path(e[:event_venue]['Id']), method: :get, class: "large button expanded custom")  %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns custom button expanded">
      Find Shows by Artist:
    </div>
  </div>

  <% e[:event_artists].each do |a| %>
    <div class="row">
      <div class="small-12 columns"> 
        <%= link_to("Shows for #{a['Name']}", artist_events_path(a['Id']), methood: :get, class: "button large reverse expanded") %>
      </div>
    </div>
  <% end %>
