/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


   .top-bar-right {
     width: inherit;
   }

  #prof_pic {
    width: inherit;
  }

  ul > li {
    list-style-type: square;
  }

  ol > li > ul > li > ol > li {
      list-style-type: upper-roman;
  }

  textarea {
   resize: none;
  }

  .gm_info {
    text-align: right;
  }  

  .marquee_title {
    text-align: right;
  }

  .marquee_content {

    li {
      list-style-type: none;
    }
  }

  .attend_button_container {
    /*width: 100%;*/
  }


// Small screens
@media only screen { 

  } /* Define mobile styles */

@media only screen and (max-width: 640px) { 
 .page_header {
    font-size: 30px;
  }
   } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 641px) { 

  .page_header {
    font-size: 54px;
  }

  } /* min-width 641px, medium screens */

@media only screen and (min-width: 641px) and (max-width: 1024px) {  
  } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 1024px) { 
  } /* min-width 1025px, large screens */

@media only screen and (min-width: 1024px) and (max-width: 90em) { 
  } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
